.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  /* background-color: white; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  
}

section.account-settings .button{
  margin-left: 45%;
}

.section-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.booking-history {
  margin-top: 20px;
}

.booking-history table {
  width: 100%;
  border-collapse: collapse;
}

.booking-history th,
.booking-history td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.booking-history th {
  background-color: #f2f2f2;
}

.account-settings {
  margin-top: 20px;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.row span {
  font-size: 1.5em;
  font-weight: bold;
}

.row p {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
