section #booking {
  padding: 40px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section #booking h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #051d1d;
}

section #booking p {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #203e36;
}

form.booking-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  grid-template-areas:
    "label1 input1"
    "label2 input2"
    "label3 input3"
    "label4 input4"
    "label5 input5"
    "label6 input6";
}

label {
  font-weight: bold;
  color: #203e36;
  align-self: center;
}

input,
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  border-color: #051d1d;
  outline: none;
}

button[type="submit"] {
  grid-column: span 2;
  background-color: #051d1d;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #203e36;
}

.form-group {
  display: contents;
}
body {
  font-family: "Sofia Sans Condensed", serif;
  margin: 0;
  padding: 0;
  background-color: #051d1d;
  color: #203e36;
  /* Deep green for text */
}


/* Adjusting for smaller screens */
@media (max-width: 600px) {
  form.booking-form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "label1"
      "input1"
      "label2"
      "input2"
      "label3"
      "input3"
      "label4"
      "input4"
      "label5"
      "input5"
      "label6"
      "input6";
  }

  button[type="submit"] {
    grid-column: span 1;
  }
}
