@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.cormorant-garamond {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    font-optical-sizing: auto;
}

.sofia-sans {
    font-family: "Sofia Sans Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 686;
    font-style: normal;
    font-optical-sizing: auto;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

h1, h2, h3 {
    font-family: "Sofia Sans Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 686;
    font-style: normal;
}

nav ul li a {
    font-family: "Sofia Sans Condensed", serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.6;
}

li {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.6;
}


@media (max-width: 768px) {
    h1, h2, h3 {
      font-size: 1.5em;
      line-height: 1.3;
      letter-spacing: 0.5px;
    }
  
    h1 {
      font-size: 1.8em;
    }
  
    p {
      font-size: 1em;
      line-height: 1.6;
      letter-spacing: 0.3px;
    }
  
    .hero h1 {
      font-size: 2em;
      line-height: 1.3;
    }
  
    .hero p {
      font-size: 1.1em;
      line-height: 1.6;
    }
  
    .cormorant-garamond {
      font-size: 1.1em;
      font-weight: 400;
      font-style: oblique;
      letter-spacing: 0.4px;
    }
  
    .sofia-sans {
      font-size: 1em;
      font-weight: 500;
    }
  }