@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Sofia+Sans+Condensed:wght@686&display=swap');

.poiret-one {
    font-family: "Poiret One", serif;
    font-weight: 600;
    font-style: oblique;
}

.sofia-sans {
    font-family: "Sofia Sans Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 686;
    font-style: normal;
}

p {
    font-family: "Poiret One", serif;
    font-weight: 600;
    font-style: oblique;
}

h1, h2, h3 {
    font-family: "Sofia Sans Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 686;
    font-style: normal;
}

nav ul li a {
    font-family: "Sofia Sans Condensed", serif;
    font-weight: 900;
    font-style: oblique;
    line-height: 1.6;
}

li {
    font-family: "Poiret One", serif;
    font-weight: 600;
    font-style: oblique;
    line-height: 1.6;
}


@media (max-width: 768px) {
    h1, h2, h3 {
      font-size: 1.5em;
      line-height: 1.3;
      letter-spacing: 0.5px;
    }
  
    h1 {
      font-size: 1.8em;
    }
  
    p {
      font-size: 1em;
      line-height: 1.6;
      letter-spacing: 0.3px;
    }
  
    .hero h1 {
      font-size: 2em;
      line-height: 1.3;
    }
  
    .hero p {
      font-size: 1.1em;
      line-height: 1.6;
    }
  
    .poiret-one {
      font-size: 1.1em;
      font-weight: 400;
      font-style: oblique;
      letter-spacing: 0.4px;
    }
  
    .sofia-sans {
      font-size: 1em;
      font-weight: 500;
    }
  }