/* 🌍 FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #182923; 
    color: #E4DAB6; 
    font-size: 1.3em;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

footer::before {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, #BA9350, #C8A15A);
    margin: 0 auto 15px auto;
    margin-bottom: 15px;
}

footer:hover {
    color: #BA9350;
    transition: color 0.3s ease-in-out;
}