/* 🌍 FOOTER */
footer {
    text-align: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    background-color: #182923; 
    color: #E4DAB6; 
    font-size: 1.3em;
    letter-spacing: 1px;
    position: relative;
    bottom: 10;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

footer::before {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, #BA9350, #C8A15A);
    margin: 0 auto 15px auto;
    margin-bottom: 15px;
}

footer:hover {
    color: #BA9350;
    transition: color 0.3s ease-in-out;
}