.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.lined-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    position: relative;
}

.lined-separator::before,
.lined-separator::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: #BA9350; /* Gold color */
    margin: 10px;
}

.lined-separator img {
    width: 18px;
    height: auto;
}
